    body {
      background-image: url("../img/invite_background (1).webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      background-attachment: scroll;
      font-family: 'Unbounded', sans-serif;
      color: #f5f5f5;
      overflow-x: hidden;
      cursor: default !important;
    }
    html, body {
      overflow-x: hidden !important;
    }